html {
   background-color: black;
   color:white;
}

h1 {
   font-family: helvetica;
   font-size: 48pt;
   color:gray;


}

.quote {
   font-family: helvetica;
   font-size: 12pt;
   padding: 40px;
}

h3 {
   font-family: helvetica;
   font-size: 15pt;
   font-style: bold;
}

h5 {
   font-family: verdana;
   color: grey;
   font-size: 10pt;
   padding: 50px;
}
nav {
   font-style: italic;
   padding: 50px
}
p {padding: 25px}
