html {
   background-color: yellow;
}

h1 {
   font-family: helvetica;
   font-size: 48pt;
   color:pink;
}

.quote {
   font-family: helvetica;
   font-size: 12pt;
   padding: 40px;
}

h3 {
   font-family: helvetica;
}

h5 {
   font-family: verdana;
   color: grey;
   font-size: 10pt;
   padding: 50px;
}
